table {
  background-color: #1c351e;
  border: 2px solid #ecf8ed;
  border-radius: 10px;
  width: 50vw;
  height: auto;
}

thead {
  tr {
    th {
      background-color: #122917;
      font-size: 1.4rem;
      border-width: 3px;
      color: #ffffff;
    }
  }
}

td {
  border: 1px solid white;
  padding: 3px;
  border-radius: 5px;
}

.col1 {
  width: 50%;
}

.col2 {
  width: 30%;
}

.col3 {
  width: 20%;
}

.vegan {
  color: #8eee7a;
}

.final_sums {
  background-color: #122917;
  font-size: 1.3rem;
  border-width: 3px;
  color: #ffffff;
}
