.pizza-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.pizza {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #eba610;
  border-radius: 50%;
  border: 20px solid #77621d;

}